<% if session[:message]%>
  <p class="message-bar"><%= session.delete(:message) %></p>
<% end %> 

<ul class="index">
  <% @files.each do |file| %>
    <li class="index-item">
      <a href="<%= file %>" class="index-link"><%= file %></a>
      <a href="<%= file %>/edit" class="index-link">edit</a>
    </li>
  <% end %>
</ul>