<ul class="index">
  <% @files.each do |file| %>
    <li class="index-item">
      <a href="<%= file %>" class="index-link"><%= file %></a>
      <a href="<%= file %>/edit" class="index-link">edit</a>
      <form class="inline" method="post" action="/<%= file %>/destroy">
        <button type="submit">delete</button>
      </form>
    </li>
  <% end %>
</ul>
<p>
  <a href="/new">New Document</a>
</p>