a {
  color: inherit;
}

body {
  font: normal 20px sans-serif;
  color: #3f3f3f;
  background: #ffffff; 
}

.content {
  padding: 30px;
}

.message-bar {
  background-color: #FFFD96;
  padding: 10px;
  margin-bottom: 20px;
}

.index {
  margin-left: 30px;
  margin-bottom: 30px;
}

.index-item {
  list-style: initial;
  margin-bottom: 10px;
}

.index form {
  display: inline;
}

.user-status {
  font-style: italic;
  font-size: 0.9em;
}